@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Financial Chat 1.0</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam vitae feugiat lorem, non aliquam erat. 
    Phasellus suscipit mi lacus, a suscipit libero ultricies id. In sit amet consequat urna, vitae tincidunt odio. 
    Suspendisse potenti. Pellentesque suscipit urna ac enim mattis luctus. 
    Aliquam augue urna, feugiat a diam ac, tempus sodales urna. 
    Aliquam hendrerit erat id volutpat interdum. Integer in justo nisl. 
    Suspendisse egestas auctor magna, a ultricies elit dictum ac. 
    Pellentesque a tellus eu augue elementum ultrices vestibulum sed tortor.
    In ornare faucibus lorem at facilisis. Quisque faucibus interdum leo. 
    Quisque at erat sit amet est mattis vulputate. Proin ultricies in eros ac congue. 
    Integer massa risus, congue id dolor eu, pellentesque fermentum odio.
</p>